body {
  background-color: #EEE;
}

section {
  height: 140px;
  padding: 15px 20px;
  background: white;
  margin-bottom: 20px;
  border-bottom: 1px solid #CCC;

}

section .content {
  height: 120px;
  overflow: auto;
}